.message
  .upper-message
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = format_posted_time(message.created_at)
  .lower-meesage
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
